.footer-container {
    background-color: #0d0909;
    margin-top: auto;
}

.div-wrap {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.section-media {
    max-width: 1300px;
    width: 100%;
}

.div-wrap-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 16px auto 0 auto;

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }
}

.div-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}